# Ignore comparison PDFs
*hdf5*
# not properly annotated figures:
acomp*.pdf
tireout*dat
betaeff*
mdot.pdf
mdot_req*
uvcheck*
ux*
vleap*
q2d_Teff_along*
late/*
early/*
*early*
*late*
**/pars*
# text household files:
memo_git
summary.txt
*~
log
# huge files:
ftable.dat
sfront.dat
